--- rebar.config.orig	2014-02-05 01:15:28.000000000 +0100
+++ rebar.config	2014-02-05 01:17:01.000000000 +0100
@@ -1,9 +1,9 @@
 %% -*- erlang -*-
 {erl_opts, [debug_info]}.
+{lib_dirs, ["/usr/local/lib/erlang/lib"]}.
 {deps, [
-        {edown, ".*", {git, "https://github.com/esl/edown.git", "HEAD"}},
-        {gen_leader, ".*",
-	 {git, "https://github.com/garret-smith/gen_leader_revival.git", "HEAD"}}
+        {edown, ".*"},
+        {gen_leader, ".*"}
        ]}.
 {dialyzer_opts, [{warnings, [no_unused,
                              no_improper_lists, no_fun_app, no_match,
